@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/JRHomePageStyle.css" rel="stylesheet" type="text/css">


<div class="container-fluid">
    <div class="row">
        <div id="carousel-example-generic" class="item carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/_assets/maxresdefault.jpg" data-holder-rendered="true">
                </div>
                <div class="item">
                    <img src="https://static1.squarespace.com/static/54189466e4b000df8f1f0e14/t/56ddc1e4d210b8f816e83505/1457373677865/11-11-18+Ianni-29.jpg?format=2500w" data-holder-rendered="true">
                </div>
                <div class="item">
                    <img src="https://static1.squarespace.com/static/54189466e4b000df8f1f0e14/t/545ab288e4b0a17b751570e6/1415230092840/IMG_8984.jpg?format=1500w" data-holder-rendered="true">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid designerContainer">
    <div class="row">
        <div class="jumbotron" id="designer">
            <div class="row">
                <div class="col-md-6 banner">
                    <img src="~/_assets/Womens-Formal-Work-Outfits-For-Spring-1.jpg" class="img-responsive">
                </div>
                <div class="col-md-6 banner">
                    <img src="~/_assets/women-s-fashion-accessories-25830255.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Items Portion -->
<div class="container-fluid">
    <div class="jumbotron" id="featured">
        <div class="row">
            <div class="col-md-6 titlePos">
                <h1 class="women-featured">Featured Items</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="http://www.hsarchitects.co.uk/wp-content/uploads/2013/05/light_grey_box3.jpg" class="img-responsive">
            </div>

            <div class="col-md-3">
                <img src="http://www.hsarchitects.co.uk/wp-content/uploads/2013/05/light_grey_box3.jpg" class="img-responsive">
            </div>

            <div class="col-md-3">
                <img src="http://www.hsarchitects.co.uk/wp-content/uploads/2013/05/light_grey_box3.jpg" class="img-responsive">
            </div>

            <div class="col-md-3">
                <img src="http://www.hsarchitects.co.uk/wp-content/uploads/2013/05/light_grey_box3.jpg" class="img-responsive">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <span class="Brand">Item Brand<br></span>
                <span class="Category">Item Category<br></span>
                <span class="Size">Size: S<br></span>
                <span class="Price">$33.99<br></span>
            </div>

            <div class="col-sm-3">
                <span class="Brand">Item Brand<br></span>
                <span class="Category">Item Category<br></span>
                <span class="Size">Size: S<br></span>
                <span class="Price">$33.99<br></span>
            </div>

            <div class="col-sm-3">
                <span class="Brand">Item Brand<br></span>
                <span class="Category">Item Category<br></span>
                <span class="Size">Size: S<br></span>
                <span class="Price">$33.99<br></span>
            </div>

            <div class="col-sm-3">
                <span class="Brand">Item Brand<br></span>
                <span class="Category">Item Category<br></span>
                <span class="Size">Size: S<br></span>
                <span class="Price">$33.99<br></span>
            </div>

        </div>
    </div>
</div>