.main1
{
  font-size: 20px;
  color: #373737;
  font-weight: bold;
}

.main2
{
  position: relative;
  color: black;
  font-weight: bold;
}

.main3
{
  position: relative;
}

.main4
{
  position: absolute;
  top: 400px;
  left:800px;
}

.main5
{
  position: absolute;
  top: 600px;
  left:800px;
}

.main6
{
  position: absolute;
  top: 700px;
  left: 800px;
}


.plainText
{
  width:450px;
  font-size: 20px;
  color: black;
  font-weight: lighter;
}

.orangeHeading
{
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  color: #ff4c00;
}

.greyHeading
{
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

#linebreak1
{
  position: absolute;
  top:350px;
  width: 100%;
}

#linebreak2
{
  position: absolute;
  top: 100px;
  width: 100%;
}
